body {
  font-family: "Aladin", cursive;
  background-color: black;
}

.bg-green {
  background-color: #015239;
}
.bg-dark-green {
  background-color: #08251c;
}

.bg-black-green {
  background-color: #113a2d;
}
.bg-light-green {
  background-color: #e4faee;
}
.bg-white {
  background-color: white;
}

.bg-purpure {
  background-color: #7d56fc;
}
.bg-opacity {
  background-color: rgb(255, 255, 255, 0.2);
}
.bg-black-opacity {
  background-color: rgb(0, 0, 0, 0.2);
}
.bg-dg-black-green {
  background: linear-gradient(
    to left,
    #113a2d,
    rgba(255, 255, 255, 0) 20% 80%,
    #113a2d
  );
}
.color-green {
  color: #015239;
}
.iconsHero {
  width: 44px;
  height: 44px;
  margin-right: -10px;
  object-fit: cover;
}
.iconsIntegration {
  height: 40px;
}
.text-amaranth {
  font-family: "Amaranth", sans-serif;
}
.fs-7 {
  font-size: 0.8rem;
}
.text-black-border {
  -webkit-text-stroke: 0.2px black;
}
.text-light-green {
  color: #b8ffe1;
}
.border-r-16 {
  border-radius: 16px;
}
.border-r-12 {
  border-radius: 12px;
}
.min-footer {
  position: relative;
  bottom: 70px;
  height: 0px;
}
